*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header{ 
     nav{
        background-color: $color_secundario;
   
    }
}
.nav-link{ color: $color_de_letra;
    
    
    &:hover{
        color: $color_de_letra;
        background-color: $color_principal;
        transform: scale(1);
    }
                
}
p{
    color: $color_de_letra;
}

body{ 
     
    background-color: $color_principal;
}

footer{
    color: $color_de_letra;
    background-color: $color_secundario;
    display: flex;
    justify-content:center ;
    font-size: 1.3rem;
}

h1{
    color:$color_de_letra;
    
}
h2{
     color:$color_de_letra;
     
     
 }

.icons{
    color: $color_de_letra;
    margin: 2%;
        &:hover{
            color: $color_secundario;
        
    }
}

div.titulo{
    
    background-image: url(../images/hero.jpg);
    background-size: contain;
    background-attachment: fixed;
    
   
}

.titulo{
    color: $color_secundario;
    font-weight: bold;
}


