*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header{ 
     nav {
        background-color: $color_secundario;
        
   
    }
}
.nav-link{ color: $color_principal;
    
    
    
    &:hover{
        color: $color_de_letra;
        background-color: $color_principal;
        transform: scale(1);
        border-radius: 6px;
    }
                
}
p{
    color: $color_de_letra;
}

body{ 
     
    background-color: $color_principal;
}

footer{
    color: $color_principal;
    background-color: $color_secundario;
    display: flex;
    justify-content:center ;
    font-size: 1.3rem;
}

h1{
    color:$color_de_letra;
    
}
h2{
     color:$color_de_letra;
     
     
 }

.icons{
    color: $color_de_letra;
    margin: 2%;
        &:hover{
            color: $color_secundario;
        
    }
}

// div.titulo{
    
//     background-image: url(../images/hero.png);
//     background-size: contain;
//     background-attachment: fixed;
//     overflow: hidden;
    
   
// }

.titulo{
    color: $color_de_letra;
    font-weight: bold;
    -webkit-backdrop-filter:blur(15px);
    backdrop-filter: blur(15px);
    
}

a{
    text-decoration: none;
}

.gato{
    background-color: $color_principal;
    border-radius: 6px;
    &:hover{
        background-color: $color_de_letra;

    }
}